Moviles_201602/Proyecto/GuianClient/GuianClient/Service References/ServiceTour/ServiceTour.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.guian.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceTour" targetNamespace="http://services.guian.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/GuianServer/ServiceTour?xsd=1" namespace="http://services.guian.com/" />
    </xsd:schema>
  </types>
  <message name="getTourByID">
    <part name="parameters" element="tns:getTourByID" />
  </message>
  <message name="getTourByIDResponse">
    <part name="parameters" element="tns:getTourByIDResponse" />
  </message>
  <message name="editTour">
    <part name="parameters" element="tns:editTour" />
  </message>
  <message name="editTourResponse">
    <part name="parameters" element="tns:editTourResponse" />
  </message>
  <message name="addPlaceTour">
    <part name="parameters" element="tns:addPlaceTour" />
  </message>
  <message name="addPlaceTourResponse">
    <part name="parameters" element="tns:addPlaceTourResponse" />
  </message>
  <message name="getTours">
    <part name="parameters" element="tns:getTours" />
  </message>
  <message name="getToursResponse">
    <part name="parameters" element="tns:getToursResponse" />
  </message>
  <message name="addTour">
    <part name="parameters" element="tns:addTour" />
  </message>
  <message name="addTourResponse">
    <part name="parameters" element="tns:addTourResponse" />
  </message>
  <message name="deleteTour">
    <part name="parameters" element="tns:deleteTour" />
  </message>
  <message name="deleteTourResponse">
    <part name="parameters" element="tns:deleteTourResponse" />
  </message>
  <message name="getToursByEnterprise">
    <part name="parameters" element="tns:getToursByEnterprise" />
  </message>
  <message name="getToursByEnterpriseResponse">
    <part name="parameters" element="tns:getToursByEnterpriseResponse" />
  </message>
  <message name="getPlacesTour">
    <part name="parameters" element="tns:getPlacesTour" />
  </message>
  <message name="getPlacesTourResponse">
    <part name="parameters" element="tns:getPlacesTourResponse" />
  </message>
  <portType name="ServiceTour">
    <operation name="getTourByID">
      <input wsam:Action="http://services.guian.com/ServiceTour/getTourByIDRequest" message="tns:getTourByID" />
      <output wsam:Action="http://services.guian.com/ServiceTour/getTourByIDResponse" message="tns:getTourByIDResponse" />
    </operation>
    <operation name="editTour">
      <input wsam:Action="http://services.guian.com/ServiceTour/editTourRequest" message="tns:editTour" />
      <output wsam:Action="http://services.guian.com/ServiceTour/editTourResponse" message="tns:editTourResponse" />
    </operation>
    <operation name="addPlaceTour">
      <input wsam:Action="http://services.guian.com/ServiceTour/addPlaceTourRequest" message="tns:addPlaceTour" />
      <output wsam:Action="http://services.guian.com/ServiceTour/addPlaceTourResponse" message="tns:addPlaceTourResponse" />
    </operation>
    <operation name="getTours">
      <input wsam:Action="http://services.guian.com/ServiceTour/getToursRequest" message="tns:getTours" />
      <output wsam:Action="http://services.guian.com/ServiceTour/getToursResponse" message="tns:getToursResponse" />
    </operation>
    <operation name="addTour">
      <input wsam:Action="http://services.guian.com/ServiceTour/addTourRequest" message="tns:addTour" />
      <output wsam:Action="http://services.guian.com/ServiceTour/addTourResponse" message="tns:addTourResponse" />
    </operation>
    <operation name="deleteTour">
      <input wsam:Action="http://services.guian.com/ServiceTour/deleteTourRequest" message="tns:deleteTour" />
      <output wsam:Action="http://services.guian.com/ServiceTour/deleteTourResponse" message="tns:deleteTourResponse" />
    </operation>
    <operation name="getToursByEnterprise">
      <input wsam:Action="http://services.guian.com/ServiceTour/getToursByEnterpriseRequest" message="tns:getToursByEnterprise" />
      <output wsam:Action="http://services.guian.com/ServiceTour/getToursByEnterpriseResponse" message="tns:getToursByEnterpriseResponse" />
    </operation>
    <operation name="getPlacesTour">
      <input wsam:Action="http://services.guian.com/ServiceTour/getPlacesTourRequest" message="tns:getPlacesTour" />
      <output wsam:Action="http://services.guian.com/ServiceTour/getPlacesTourResponse" message="tns:getPlacesTourResponse" />
    </operation>
  </portType>
  <binding name="ServiceTourPortBinding" type="tns:ServiceTour">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getTourByID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editTour">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addPlaceTour">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTours">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addTour">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteTour">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getToursByEnterprise">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPlacesTour">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceTour">
    <port name="ServiceTourPort" binding="tns:ServiceTourPortBinding">
      <soap:address location="http://localhost:8080/GuianServer/ServiceTour" />
    </port>
  </service>
</definitions>