Moviles_201602/Proyecto/GuianClient/GuianClient/Service References/ServiceAdmin/ServiceAdmin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.guian.com/" targetNamespace="http://services.guian.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LoginAdmin" type="tns:LoginAdmin" />
  <xs:element name="LoginAdminResponse" type="tns:LoginAdminResponse" />
  <xs:complexType name="LoginAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:admin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="admin">
    <xs:sequence>
      <xs:element name="adminID" type="xs:int" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoginAdminResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:admin" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>